In [5]:
import pandas as pd
df = pd.read_csv("../99-data/cm_vision.csv.zip")

In [6]:
drop_cols = ['ab_id', 'on_1b', 'on_2b', 'on_3b', 'batter_fname', 'batter_lname','pitcher_fname', 'pitcher_lname', 'pitch_num', 'pitcher_count']
df = df.drop(drop_cols, axis=1)
df = df.rename(columns={'Base Runners': 'base_runners'})
df

,pitch_type,outs,batter_id,pitcher_id,prev_pitch_type,batter_count,base_runners,b_breakingball,b_changeup,b_fastball,b_rare,p_breakingball,p_changeup,p_fastball,p_rare
0,fastball,0.0,572761,452657,1st_pitch,even,Bases empty,0.142082,0.04013,0.812364,0.005423,0.12154,0.039711,0.832732,0.006017
1,fastball,0.0,572761,452657,1st_pitch,even,Bases empty,0.142082,0.04013,0.812364,0.005423,0.12154,0.039711,0.832732,0.006017
2,fastball,0.0,572761,452657,1st_pitch,even,Bases empty,0.142082,0.04013,0.812364,0.005423,0.12154,0.039711,0.832732,0.006017
3,fastball,0.0,572761,452657,1st_pitch,even,Bases empty,0.142082,0.04013,0.812364,0.005423,0.12154,0.039711,0.832732,0.006017
4,fastball,0.0,572761,452657,1st_pitch,even,Bases empty,0.142082,0.04013,0.812364,0.005423,0.12154,0.039711,0.832732,0.006017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2150203,rare,1.0,501981,572140,rare,behind,Bases empty,0.000000,0.00000,0.000000,1.000000,0.00000,0.000000,0.000000,1.000000
2150204,rare,1.0,501981,572140,rare,even,Bases empty,0.000000,0.00000,0.000000,1.000000,0.00000,0.000000,0.000000,1.000000
2150205,rare,2.0,621566,572140,rare,even,Bases empty,0.000000,0.00000,0.000000,1.000000,0.00000,0.000000,0.000000,1.000000
2150206,rare,2.0,621566,572140,rare,ahead,Bases empty,0.000000,0.00000,0.000000,1.000000,0.00000,0.000000,0.000000,1.000000
2150207,rare,2.0,621566,572140,rare,ahead,Bases empty,0.000000,0.00000,0.000000,1.000000,0.00000,0.000000,0.000000,1.000000

In [7]:
df.columns

Index(['pitch_type', 'outs', 'batter_id', 'pitcher_id', 'prev_pitch_type',
       'batter_count', 'base_runners', 'b_breakingball', 'b_changeup',
       'b_fastball', 'b_rare', 'p_breakingball', 'p_changeup', 'p_fastball',
       'p_rare'],
      dtype='object')

In [8]:
# print(df["pitcher_id"][df["pitcher_lname"]=="Kershaw"].unique())
# print(df["batter_id"][df["batter_lname"]=="Posey"].unique())

- Clayton Kershaw: 477132
- Buster Posey: 457763

In [9]:
# clean data
for col in ['pitch_type', 'prev_pitch_type', 'batter_count', 'base_runners','outs']:
    df[col] = df[col].astype('category')
    
df['outs'] = df['outs'].cat.codes
df['pitch_type'] = df['pitch_type'].cat.codes
df['prev_pitch_type'] = df['prev_pitch_type'].cat.codes
df['batter_count'] = df['batter_count'].cat.codes
df['base_runners'] = df['base_runners'].cat.codes
df

,pitch_type,outs,batter_id,pitcher_id,prev_pitch_type,batter_count,base_runners,b_breakingball,b_changeup,b_fastball,b_rare,p_breakingball,p_changeup,p_fastball,p_rare
0,2,0,572761,452657,0,2,0,0.142082,0.04013,0.812364,0.005423,0.12154,0.039711,0.832732,0.006017
1,2,0,572761,452657,0,2,0,0.142082,0.04013,0.812364,0.005423,0.12154,0.039711,0.832732,0.006017
2,2,0,572761,452657,0,2,0,0.142082,0.04013,0.812364,0.005423,0.12154,0.039711,0.832732,0.006017
3,2,0,572761,452657,0,2,0,0.142082,0.04013,0.812364,0.005423,0.12154,0.039711,0.832732,0.006017
4,2,0,572761,452657,0,2,0,0.142082,0.04013,0.812364,0.005423,0.12154,0.039711,0.832732,0.006017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2150203,3,1,501981,572140,4,1,0,0.000000,0.00000,0.000000,1.000000,0.00000,0.000000,0.000000,1.000000
2150204,3,1,501981,572140,4,2,0,0.000000,0.00000,0.000000,1.000000,0.00000,0.000000,0.000000,1.000000
2150205,3,2,621566,572140,4,2,0,0.000000,0.00000,0.000000,1.000000,0.00000,0.000000,0.000000,1.000000
2150206,3,2,621566,572140,4,0,0,0.000000,0.00000,0.000000,1.000000,0.00000,0.000000,0.000000,1.000000
2150207,3,2,621566,572140,4,0,0,0.000000,0.00000,0.000000,1.000000,0.00000,0.000000,0.000000,1.000000

In [10]:
df.to_csv("../99-data/ui_df.csv.zip",
                index=False,
                compression="zip")

In [11]:
# initialize input
#tend = ['b_breakingball', 'b_changeup','b_fastball', 'b_rare', 'p_breakingball', 'p_changeup', 'p_fastball','p_rare']
pitcher_id = 477132
batter_id = 457763
outs = 2
prev_pitch_type = '1st_pitch'
batter_count = 'even'
base_runners = "Bases empty"

In [12]:
# convert input to categorical variables
def runners_conv(base_runners):
    switcher={
        "Bases empty":0,
        "Runner on base":1
    }
    return switcher.get(base_runners, "nothing")
base_runners=runners_conv(base_runners)

################

def bcount_conv(batter_count):
    switcher={
        "even":2,
        "behind":1,
        "ahead":0
    }
    return switcher.get(batter_count, "nothing")
batter_count=bcount_conv(batter_count)

###############

def prev_pitch_conv(prev_pitch):
    switcher={
        "fastball":3,
        "1st_pitch":0,
        "breakingball":1,
        "changeups":2,
        "rare":4
    }
    return switcher.get(prev_pitch, "nothing")
prev_pitch_type=prev_pitch_conv(prev_pitch_type)

In [13]:
print(outs)
print(prev_pitch_type)
print(batter_count)
print(base_runners)

2
0
2
0

In [14]:
# select data
input_df = df[(df['pitcher_id'] == pitcher_id) &
              (df['batter_id'] == batter_id) &
              (df['outs'] == outs) &
              (df['prev_pitch_type'] == prev_pitch_type) &
              (df['batter_count'] == batter_count) &
              (df['base_runners'] == base_runners)
             ]
id_cols = ['pitcher_id', 'batter_id']
input_df = input_df.drop(id_cols, axis=1)
input_df

,pitch_type,outs,prev_pitch_type,batter_count,base_runners,b_breakingball,b_changeup,b_fastball,b_rare,p_breakingball,p_changeup,p_fastball,p_rare
379791,0,2,0,2,0,0.254839,0.048387,0.693548,0.003226,0.322449,0.004082,0.665306,0.008163
379792,2,2,0,2,0,0.254839,0.048387,0.693548,0.003226,0.322449,0.004082,0.665306,0.008163
379793,0,2,0,2,0,0.254839,0.048387,0.693548,0.003226,0.322449,0.004082,0.665306,0.008163
379794,0,2,0,2,0,0.254839,0.048387,0.693548,0.003226,0.322449,0.004082,0.665306,0.008163
379795,2,2,0,2,0,0.254839,0.048387,0.693548,0.003226,0.322449,0.004082,0.665306,0.008163
379796,0,2,0,2,0,0.254839,0.048387,0.693548,0.003226,0.322449,0.004082,0.665306,0.008163
379797,0,2,0,2,0,0.254839,0.048387,0.693548,0.003226,0.322449,0.004082,0.665306,0.008163
379798,2,2,0,2,0,0.254839,0.048387,0.693548,0.003226,0.322449,0.004082,0.665306,0.008163
379799,0,2,0,2,0,0.254839,0.048387,0.693548,0.003226,0.322449,0.004082,0.665306,0.008163
379800,0,2,0,2,0,0.254839,0.048387,0.693548,0.003226,0.322449,0.004082,0.665306,0.008163
379801,2,2,0,2,0,0.254839,0.048387,0.693548,0.003226,0.322449,0.004082,0.665306,0.008163
379802,2,2,0,2,0,0.254839,0.048387,0.693548,0.003226,0.322449,0.004082,0.665306,0.008163

In [15]:
# # clean data
# drop_cols = ['ab_id', 'on_1b', 'on_2b', 'on_3b', 'batter_id', 'pitcher_id', 'batter_fname', 'batter_lname','pitcher_fname', 'pitcher_lname', 'pitch_num', 'pitcher_count']
# input_df = input_df.drop(drop_cols, axis=1)
# input_df = input_df.rename(columns={'Base Runners': 'base_runners'})

# for col in ['pitch_type', 'prev_pitch_type', 'batter_count', 'base_runners','outs']:
#     input_df[col] = input_df[col].astype('category')
    
# input_df['outs'] = input_df['outs'].cat.codes
# input_df['pitch_type'] = input_df['pitch_type'].cat.codes
# input_df['prev_pitch_type'] = input_df['prev_pitch_type'].cat.codes
# input_df['batter_count'] = input_df['batter_count'].cat.codes
# input_df['base_runners'] = input_df['base_runners'].cat.codes

In [16]:
# establish inputs and outputs
y = input_df.loc[:,'pitch_type']
x = input_df.loc[:,input_df.columns != 'pitch_type']

In [17]:
x

,outs,prev_pitch_type,batter_count,base_runners,b_breakingball,b_changeup,b_fastball,b_rare,p_breakingball,p_changeup,p_fastball,p_rare
379791,2,0,2,0,0.254839,0.048387,0.693548,0.003226,0.322449,0.004082,0.665306,0.008163
379792,2,0,2,0,0.254839,0.048387,0.693548,0.003226,0.322449,0.004082,0.665306,0.008163
379793,2,0,2,0,0.254839,0.048387,0.693548,0.003226,0.322449,0.004082,0.665306,0.008163
379794,2,0,2,0,0.254839,0.048387,0.693548,0.003226,0.322449,0.004082,0.665306,0.008163
379795,2,0,2,0,0.254839,0.048387,0.693548,0.003226,0.322449,0.004082,0.665306,0.008163
379796,2,0,2,0,0.254839,0.048387,0.693548,0.003226,0.322449,0.004082,0.665306,0.008163
379797,2,0,2,0,0.254839,0.048387,0.693548,0.003226,0.322449,0.004082,0.665306,0.008163
379798,2,0,2,0,0.254839,0.048387,0.693548,0.003226,0.322449,0.004082,0.665306,0.008163
379799,2,0,2,0,0.254839,0.048387,0.693548,0.003226,0.322449,0.004082,0.665306,0.008163
379800,2,0,2,0,0.254839,0.048387,0.693548,0.003226,0.322449,0.004082,0.665306,0.008163
379801,2,0,2,0,0.254839,0.048387,0.693548,0.003226,0.322449,0.004082,0.665306,0.008163
379802,2,0,2,0,0.254839,0.048387,0.693548,0.003226,0.322449,0.004082,0.665306,0.008163

In [18]:
import pickle
# save the model to disk
filename = '../40-model/xgboost_model.pkl'
# # load the model from disk
xgboost = pickle.load(open(filename, 'rb'))

In [19]:
y_pred = xgboost.predict(x)

In [20]:
y_pred

array([2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2], dtype=int8)

In [21]:
y

379791    0
379792    2
379793    0
379794    0
379795    2
379796    0
379797    0
379798    2
379799    0
379800    0
379801    2
379802    2
Name: pitch_type, dtype: int8

In [22]:
y_pred[0]

2

In [23]:
def pred_conv(y_pred):
    switcher={
        2:"fastball",
        0:"breakingball",
        1:"changeups",
        3:"rare"
    }
    return switcher.get(y_pred, "nothing")
pred_conv(y_pred[0])

'fastball'

In [24]:
def ui_prediction(pitcher_id,
                  batter_id,
                  outs,
                  prev_pitch_type,
                  batter_count,
                  base_runners):
    import pandas as pd
#     df = pd.read_csv("../99-data/cm_vision.csv.zip")
#     drop_cols = ['ab_id', 'on_1b', 'on_2b', 'on_3b', 'batter_fname', 'batter_lname','pitcher_fname', 'pitcher_lname', 'pitch_num', 'pitcher_count']
#     df = df.drop(drop_cols, axis=1)
#     df = df.rename(columns={'Base Runners': 'base_runners'})
#     # clean data
#     for col in ['pitch_type', 'prev_pitch_type', 'batter_count', 'base_runners','outs']:
#         df[col] = df[col].astype('category')
    
#     df['outs'] = df['outs'].cat.codes
#     df['pitch_type'] = df['pitch_type'].cat.codes
#     df['prev_pitch_type'] = df['prev_pitch_type'].cat.codes
#     df['batter_count'] = df['batter_count'].cat.codes
#     df['base_runners'] = df['base_runners'].cat.codes
    df = pd.read_csv("../99-data/ui_df.csv.zip")
    
        # convert input to categorical variables
    def runners_conv(base_runners):
        switcher={
            "Bases empty":0,
            "Runner on base":1
        }
        return switcher.get(base_runners, "nothing")
    base_runners=runners_conv(base_runners)

    ################

    def bcount_conv(batter_count):
        switcher={
            "even":2,
            "behind":1,
            "ahead":0
        }
        return switcher.get(batter_count, "nothing")
    batter_count=bcount_conv(batter_count)

    ###############

    def prev_pitch_conv(prev_pitch):
        switcher={
            "fastball":3,
            "1st_pitch":0,
            "breakingball":1,
            "changeups":2,
            "rare":4
        }
        return switcher.get(prev_pitch, "nothing")
    prev_pitch_type=prev_pitch_conv(prev_pitch_type)
    
        # select data
    input_df = df[(df['pitcher_id'] == pitcher_id) &
                  (df['batter_id'] == batter_id) &
                  (df['outs'] == outs) &
                  (df['prev_pitch_type'] == prev_pitch_type) &
                  (df['batter_count'] == batter_count) &
                  (df['base_runners'] == base_runners)
                 ]
    id_cols = ['pitcher_id', 'batter_id']
    input_df = input_df.drop(id_cols, axis=1)
    
        # establish inputs and outputs
    y = input_df.loc[:,'pitch_type']
    x = input_df.loc[:,input_df.columns != 'pitch_type']

    import pickle
    # save the model to disk
    filename = '../40-model/xgboost_model.pkl'
    # # load the model from disk
    xgboost = pickle.load(open(filename, 'rb'))
    y_pred = xgboost.predict(x)
    
    
    def pred_conv(y_pred):
        switcher={
            2:"fastball",
            0:"breakingball",
            1:"changeups",
            3:"rare"
        }
        return switcher.get(y_pred, "nothing")
    return (pred_conv(y_pred[0]))

In [39]:
pitcher_id = 477132
batter_id = 457763
outs = 2
prev_pitch_type = 'breakingball'
batter_count = 'behind'
base_runners = "Bases empty"

In [40]:
ui_prediction(pitcher_id,
                  batter_id,
                  outs,
                  prev_pitch_type,
                  batter_count,
                  base_runners)

'breakingball'

In [41]:
######## time model ############
import time
start_time = time.time()
ui_prediction(pitcher_id,
                  batter_id,
                  outs,
                  prev_pitch_type,
                  batter_count,
                  base_runners)
######### print timed model ###########
print("--- %s seconds (fitting) ---" % (time.time() - start_time))

--- 4.685507774353027 seconds (fitting) ---